body{
	margin: 0px;
}
#search{
	border:none;
	background-color: transparent;
	border-bottom: 1px solid black;
	padding-left: 30px;
	height: 35px;
	width: 220px;
	color: white;
	font-size: 17px;
}
#m1 .log{
	position: relative;
	top: 18px;
	color: #645b5b;
	font-size: 40px;
	font-family: Arial Black;
}
#m1 .log2{
	position: relative;
	left: 2px;
}
#div1 a span{
	position: absolute;
	top: 18px;
	color: #645b5b;
	margin-left:157px;
	font-size: 60px;
	font-family: Arial Black;
}
#div1 a img{
	margin-left: 44px;
}
#search:focus{
	outline: none;
}
#search:focus,
#search:hover{
	box-shadow: 0 0.5em 0.5em -0.4em;
}
.aaa{
	background-image: url("image/img11.jpg");
	background-size: 100% 640px;
	height: 620px;
}

#div1{
	height:200px;
	width:100%;
}
#div1-1 img{
	position: absolute;
	left: -5px;
	top: 20px;
}
#div1-2{
	position: absolute;
	left:64%;
	top: 24px;
}
#div1-3 img {
	position: absolute;
	left: 3px;
	top: 6px;
}
#div1-3{
	position: absolute;
	left:79%;
	top: 20px;
}
#button {
	height: 30px;
	width: 90px;
	color: white;
	border: 1px solid white;
    background: transparent;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
				0 6px 12px 0 rgba(0,0,0,0.19);
}
#button:hover,
#button:focus {
	box-shadow: 0 0.5em 0.5em -0.4em;
	transform: translateY(-0.25em); 
}
#menu li {
	float: left;
	width: 120px;
	height: 80px;
}
#menu ul{
	list-style: none;
	position: absolute;
	left: 40%;
	top: 90px;
}
#menu a{
	font-family: 'Raleway', Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	display: block;
	width: 120px;
	text-align: center;
	padding: 12px;
	height: 50px;
	font-size: large ;
	box-shadow: 0 0.5em 0.5em -0.4em;
}
#menu #menu1 {
	width: 150px;
}
#menu #menu1 a{
	width: 150px;
}

#menu a:hover{
	box-shadow: 0 0.5em 0.5em -0.4em;
	transform: translateY(-0.25em);
	border-bottom: 2px solid pink;
	border-top: 2px solid pink;
}
#title h1:hover{
	box-shadow: 0 0.5em 0.5em -0.4em;
	transform: translateY(-0.25em);
}
#png1 img:hover{
	transform: translateY(-0.25em);
}
#png2 img:hover{
	transform: translateY(-0.25em);
}
#title{
	width: 750px;
}
#p2 .nv {
	text-decoration: line-through;
	color: blue;
	font-size: 18px;
}
.most{
	position: relative;
	left: 28px;
	background-color: blue;
	color: white;
	width: 450px;
	height: 60px;
	margin-bottom: 2px;
	border-radius: 10px 10px;
}
.dec{
	position: relative;
	left: 28px;
	background-color: blue;
	color: white;
	width: 600px;
	height: 60px;
	margin-bottom: 2px;
	border-radius: 10px 10px;
}
#pkn{
	text-transform: lowercase;
	margin-left: 18px;
}
.hr{
	border-bottom: 1px solid blue;
	margin-bottom: 20px;
}
#title p{
	margin-left: 32%;
    margin-top: 26px;
    color: lavenderblush;
    font-family: cursive;
    font-size: 19px;
}
#png1{
	position: absolute;
	left: 1230px;
	top: 50px
}
#png2{
	position: absolute;
	left: 1224px;
	top: 107px
}
#prmier{
	font-size: xx-large;
    font-family: cursive;
    color: floralwhite;
}
#title h1{
	padding-left: 10px;
	margin-top: 0px;
	margin-left:20%;
	font-size: 43px;
    font-weight: 600;
    letter-spacing: -.03em;
    letter-spacing: 10px;
    font-family: ui-monospace;
    color: floralwhite;
}
#mmm {
	margin-bottom: 20px;
}
#mmm img{
	height: 300px;
	width: 300px;
}
#mmm h1 {
	padding-top: 9px;
	margin-bottom: 10px;
	margin-left: 18px;
}
#mmm p {
	font-size:medium ;
}
#mmm #p1 {
	text-align: center;
	font-size: x-large ;
	font-weight:bold;
}
#mmm #p2 {
	margin-left: 30px;
	font-size: large ;
	font-weight:bold;
}
#div3 {
	background-color: #303030;
	background-size: 100% 400px;
}
#fin #m1, #m2 , #m3, #m4{
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 40px;
	color: white; 
}
#m2 h1,#m3 h1{
	margin-bottom: 30px;
}
#m2 p {
	margin-left: 10px;
	display: inline-block;
	margin-bottom: 30px;
	font-size:15px;
}
#m3 p{
	margin-bottom: 30px;
	font-size:15px;
}
#m4 img {
	margin-bottom: 20px;
}
#m4 .google img:hover{
	border:2px solid black;
}
#m3 a:hover{
	color: white;
}
#fin #m4{
	border:none;
}
#m1 a img:hover{
	transform: translateY(-0.35em);
}
#devel{
	background-color: black;
	color: white;
	text-align: center;
	height: 50px;
	padding-top: 10px;
}
#buy{
	height: 30px;
	width: 90px;
	color: black;
	border: 1px solid white;
    background: transparent;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
				0 6px 12px 0 rgba(0,0,0,0.19);
}